@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: F8EADC;
  background: #f8eadc;
}

hr {
  height: 10px;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg-instagram-gradient {
  background: linear-gradient(45deg, #833ab4, #e1306c, #f77737);
}

.bg-tiktok-gradient {
  background: linear-gradient(45deg, #69c9d0, #ee1d52);
}

.slick-slide {
  /* margin-right: 5px;
  margin-left: 5px; */
   overflow: hidden; 
} 

.slick-list {
  height: 100%;
}
